@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* Global Colors */
    --global-bg-1: #f5f8ff;
    --global-bg-2: #ffffff;
    --global-bg-3: #ffffff4c;
    --global-text-1: #000000;
    --global-text-2: #1a1a1a;
    --global-text-3: #292a36;
    --global-text-4: #ffffff;

    /* Button Colors */
    --button-text-1: #141414;
  }
}

@layer utilities {
  /* Global */
  .bg-global-1 {
    background-color: var(--global-bg-1);
  }
  .bg-global-2 {
    background-color: var(--global-bg-2);
  }
  .bg-global-3 {
    background-color: var(--global-bg-3);
  }
  .text-global-1 {
    color: var(--global-text-1);
  }
  .text-global-2 {
    color: var(--global-text-2);
  }
  .text-global-3 {
    color: var(--global-text-3);
  }
  .text-global-4 {
    color: var(--global-text-4);
  }

  /* Button */
  .text-button-1 {
    color: var(--button-text-1);
  }
}
